.quantityUpdater {
  display: inline-flex;
  align-items: center;
  margin-right: 0.25rem;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #777;
}

.quantityUpdater > button {
  background-color: transparent;
  padding-bottom: 3px;
  border-radius: 3px;
  border: none;
  transition: background-color ease 0.2s;
}

.quantityUpdater > span {
  margin: 0 0.5rem;
  padding-bottom: 1px;
}

.quantityUpdater > button:hover {
  background-color: #f3f3f3;
}

.quantityUpdater > button:focus {
  outline: transparent;
}
